<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    	<%= image_tag "profilepic.jpeg", width: 340, alt: "Profile Image" %>
 	</div>

 	<div class="col-md-8">
   	<p>I served in the military 2001-2006. Got to go to Iraq 3 times durring my enlistment. I got out and landed my dream jod at a Harley Davidson dealership.I was in a bad crash on my bike and broke my back which landed me in a wheelchair.So not only was that a life changing situation but I also had to change the way i made money ,which leads me to here.So less braun being used and more brain power.The struggles of a life changing expeiriance continues but in a healthy way.....One Day At A Time !</p>
  </div>
 </div>

